<a href="https://colab.research.google.com/github/Siddhant5139/sid5139/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#list
list1 = []
type(list1)

list

In [3]:
list1 = [1,2,3,"Anand","Rahul",True,1]
print(list1)

[1, 2, 3, 'Anand', 'Rahul', True, 1]

In [4]:
list1[0]= 5

In [5]:
list1

[5, 2, 3, 'Anand', 'Rahul', True, 1]

In [12]:
print(list1)
#list1.append(23)
#list1.insert(6,34)  #inserts valein between values(index,value)
#list1.extend([1,2,3]) # ented value at end
#list1.pop()
list2=list1
list2.pop(3)
print(list2)

[34, 2, 3, 'Anand', 'Rahul', True, 34, 1, 23, 1, 2, 3]
[34, 2, 3, 'Rahul', True, 34, 1, 23, 1, 2, 3]

In [14]:
for i in list1:
  print(i)

34
2
3
Rahul
True
34
1
23
1
2
3

In [15]:
tuple1 = (1,2,3,"am",True,1)
print(tuple1)

(1, 2, 3, 'am', True, 1)

In [20]:
tuple1.count(1)

3

In [21]:
set1={1,2,3,4,1,2,3,"am"}
print(set1)

{1, 2, 3, 4, 'am'}

In [23]:
dect1 = {"name": ["monkey","james","jo"],"fullname":["monkey",5,8.8]}
dect1

{'name': ['monkey', 'james', 'jo'], 'fullname': ['monkey', 5, 8.8]}

In [31]:
#function
def HBTY(name,age):
  print("happy birthday to you",name,"your age is now",age)

In [32]:
HBTY("mohan",45)

happy birthday to you mohan your age is now 45

In [ ]:
# control flow: condition statementif/elif/else/if else,looping forwhile,jumping break/continue/pass

In [42]:
import pandas as pd
dict1 = {"name":["mohan","ravi","keshav","jojo","ravi",],"age":[23,12,23,45,23]}
data=pd.DataFrame(dict1) #2d (row,col)  series is 1d

In [43]:
data["name"] == "ravi"

0    False
1     True
2    False
3    False
4     True
Name: name, dtype: bool

In [40]:
data["name"]

0     mohan
1      ravi
2    keshav
3      jojo
Name: name, dtype: object

In [49]:
twelve = data["age"] == 12
data[twelve & ravi]

NameError: name 'ravi' is not defined

In [44]:
data[twelve & ravi]

NameError: name 'ravi' is not defined

In [52]:
#hungry if if elif else
hungry = True
money = 15
if hungry == True and money>0:
  print("you can eat")

else:
  print("no")

you can eat

In [53]:
# loop while
for x in range(0,10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [61]:
number = 1
while number <= 10:
    print(number)
    if number == 5:
        break
    number += 1

1
2
3
4
5